{% extends 'base.html' %}

{% block title %}Фильмы{% endblock %}

{% block content %}
    <h2>Фильмы</h2>
    <a href="{% url 'add_movie' %}" class="btn btn-success mb-3">Добавить фильм</a>
    <table class="table table-striped" style="width: 1200px;">
        <thead>
            <tr>
                {% for column in columns %}
                    <th>
                        <a href="?page={{ page_number }}&sort_by={{ column.field }}&sort_order={{ column.sort_order }}">
                            {{ column.label }}
                        </a>
                    </th>
                {% endfor %}
                <th>Описание</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
                <tr>
                    <td>{{ movie.movie_id }}</td>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.genre }}</td>
                    <td>{{ movie.duration }}</td>
                    <td>{{ movie.age_restriction }}</td>
                    <td>{{ movie.rating }}</td>
                    <td>{{ movie.description|truncatechars:20 }}</td>
                    <td>
                        <a href="{% url 'movie_detail' movie.movie_id %}" class="btn btn-info btn-sm">Детали</a>
                        <a href="{% url 'edit_movie' movie.movie_id %}" class="btn btn-warning btn-sm">Редактировать</a>
                        <a href="{% url 'delete_movie' movie.movie_id %}" class="btn btn-danger btn-sm">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if movies.has_other_pages %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if movies.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ movies.previous_page_number }}&sort_by={{ sort_by }}&sort_order={{ sort_order }}">&laquo;</a></li>
                {% endif %}
                {% for num in movies.paginator.page_range %}
                    <li class="page-item{% if movies.number == num %} active{% endif %}"><a class="page-link" href="?page={{ num }}&sort_by={{ sort_by }}&sort_order={{ sort_order }}">{{ num }}</a></li>
                {% endfor %}
                {% if movies.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ movies.next_page_number }}&sort_by={{ sort_by }}&sort_order={{ sort_order }}">&raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}
