<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
      body {
        padding-top: 70px;
      }
      .pagination {
        display: flex;
        justify-content: center;
      }
      .pagination li {
        margin: 0 5px;
      }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="{% url 'index' %}">База данных кинотеатра</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Таблицы
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'customers' %}">Покупатели</a>
              <a class="dropdown-item" href="{% url 'halls' %}">Залы</a>
              <a class="dropdown-item" href="{% url 'movies' %}">Фильмы</a>
              <a class="dropdown-item" href="{% url 'positions' %}">Должности</a>
              <a class="dropdown-item" href="{% url 'session_types' %}">Типы сеансов</a>
              <a class="dropdown-item" href="{% url 'staff' %}">Сотрудники</a>
              <a class="dropdown-item" href="{% url 'sessions' %}">Сеансы</a>
              <a class="dropdown-item" href="{% url 'tickets' %}">Билеты</a>
              <a class="dropdown-item" href="{% url 'sales' %}">Продажи</a>
            </div>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="{% url 'report' %}">Отчет по продажам</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'staff-report' %}">Отчет о сотрудниках</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'movies-report' %}">Отчет о фильмах</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <main class="container">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
